#root {
    /*max-width: 1280px;*/
    margin: 0 auto;
    padding: 2rem;
    text-align: center;
    width: 100vw;
    height: 100vh;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: black;
}

th, td {
    padding-left: 1rem;
    padding-right: 1rem;
}